# Virtual environment
.venv/
venv/
env/

# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
*.egg-info/
.eggs/
dist/
build/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
